extends layout

block scripts
  script(type='text/javascript').
    $(function() {
      window.onbeforeunload = function() {
        return "Data will be lost if you leave the page, are you sure?";
      };  
        
      app.initModule($('#container'));    
    });

block content
  div#container
