doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/javascripts/ext/jquery.js')
    script(src='/javascripts/ext/taffy.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/app.utils.js')
    script(src='/javascripts/app.messenger.js')
    script(src='/javascripts/app.fake.js')
    script(src='/javascripts/app.model.js')
    script(src='/javascripts/app.model.people.js')
    script(src='/javascripts/app.people.js')
    script(src='/javascripts/app.chat.js')
    script(src='/javascripts/app.shell.js')
    
    block scripts
  
  body
    block content