<html>

<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <meta charset="UTF-8">
</head>

<body>
    <div id="container">
        <div class="logging" style="display: none;">
            <span>LOG IN</span>
        </div>
        <div class="people box">
            <div class="bar">
                <span class="bar-header">PEOPLE</span>
            </div>
            <div class="people-content">
                <p>f</p>
                <p class="me">A</p>
            </div>
        </div>
        <div class="chat box box1 hidden" style="display: block;">
            <div class="bar">
                <span class="bar-header">CHAT with f</span>
            </div>
            <ul class="chat-content">
                <li class="chat-msg chat-msg-right">Hej</li>
                <li class="chat-msg">Hej!</li>
                <li class="chat-msg chat-msg-right">Jak ci idzie pisanie programy? Udało się coś?</li>
                <li class="chat-msg">Powoli ;)</li>
                <li class="chat-msg chat-msg-right">Trzymam kciuki!</li>
                <li class="chat-msg">Dzięku napewno się przydadzą. Kiedy urlop planujesz?</li>
                <li class="chat-msg chat-msg-right">Jak najszybciej... ale zobaczymy</li>
                <li class="chat-msg">A ty?</li>                
                <li class="chat-msg chat-msg-right">No jeszcze nie myślałem o tym</li>
                <li class="chat-msg">No to na co czekasz! Myśl!</li>
            </ul>
            <div class="chat-interaction">
                <div class="chat-input">
                    <input type="text" />
                </div>
                <div class="chat-send">
                    <input type="submit" />
                </div>
            </div>
        </div>
        <div class="chat box box2 hidden" />
        <div class="chat box box3 hidden" />
    </div>
</body>

</html>