<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="content">
			<div class="logging"></div>
			<div class="people">
				<div class="people-bar">PEOPLE</div>
				<div class="people-content">
					<p>Antoś</p>
					<p>Filip</p>
					<p>Aga</p>
					<p>Jarek</p>
				</div>
			</div>
			<div class="chat">
				<div class="chat-bar"></div>
				<div class="chat-content">
					<p class="chat-popup popup-head popup-head-left">Hi</p>
					<p class="chat-popup popup-head popup-head-right">Hi!</p>
					<p class="chat-popup popup-head popup-head-left">I need to know wher to find you. I need to discuss some important topic with you.</p>
				</div>
				<div class="chat-interaction">
					<div type="text" class="chat-input">
						<input type="text" value="Where are you?"></input>
					</div>
					<div class="chat-send">
						<input type="submit"></input>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>