<html>

<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <meta charset="UTF-8">
</head>

<body>
    <div id="container">
        <div class="logging" style="display: none;">
            <span>LOG IN</span>
        </div>
        <div class="people box">
            <div class="bar">
                <span class="bar-header">PEOPLE</span>
            </div>
            <div class="people-content">
                <div>
                    <span class="name">Jarek</span>
                </div>
                <div>
                    <span class="name me">Aga</span>
                </div>
            </div>
        </div>
        <div class="chat box box1 hidden" style="display: block;">
            <div class="bar">
                <span class="bar-header">CHAT with Jarek</span>
                <span class="chat-close">
<button class="chat-close-button">X</button>
</span>
            </div>
            <ul class="chat-content">
                <li class="chat-msg chat-msg-right">
                    <span class="chat-msg-text chat-msg-text-rigth">Hej</span>
                    <span class="chat-msg-time">21:45</span>
                </li>
                <li class="chat-msg chat-msg-right">
                    <span class="chat-msg-text chat-msg-text-rigth">co tam?</span>
                    <span class="chat-msg-time">21:45</span>
                </li>
                <li class="chat-msg">
                    <span class="chat-msg-time">21:46</span>
                    <span class="chat-msg-text">hej</span>
                </li>
                <li class="chat-msg chat-msg-right">
                    <span class="chat-msg-text chat-msg-text-rigth">co tam słychać?</span>
                    <span class="chat-msg-time">21:46</span>
                </li>
                <li class="chat-msg">
                    <span class="chat-msg-time">21:46</span>
                    <span class="chat-msg-text">ssssss ssssssssss</span>
                </li>
                <li class="chat-msg chat-msg-right">
                    <span class="chat-msg-text chat-msg-text-rigth">sdsdsd s s dsd sd sdsdsdsdsd sdsd</span>
                    <span class="chat-msg-time">21:46</span>
                </li>
                <li class="chat-msg chat-msg-right">
                    <span class="chat-msg-text chat-msg-text-rigth">jas asksa asaskwe</span>
                    <span class="chat-msg-time">21:46</span>
                </li>
                <li class="chat-msg chat-msg-right">
                    <span class="chat-msg-text chat-msg-text-rigth">jaksjsjs dndnd dsds dmamnasnam assanbj</span>
                    <span class="chat-msg-time">21:46</span>
                </li>
            </ul>
            <div class="chat-interaction">
                <div class="chat-input">
                    <input type="text" />
                </div>
                <div class="chat-send">
                    <input type="submit" />
                </div>
            </div>
        </div>
        <div class="chat box box2 hidden" />
        <div class="chat box box3 hidden" />
    </div>
</body>

</html>