/* Common box */
.bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 25px;	
	background: midnightblue;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	padding-left: 10px;
}

.bar-header {
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-size: larger;
}

.box {
	border: 1px lightgrey solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: aliceblue;
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
}

/* Common box ended */

.center {
	text-align: center;
}

.logging {
	position: absolute;
	width: 125px;
	height: 35px;
	right: 3px;
	top: 3px;
	border-width: 1px lightgrey solid;
	border-radius: 5px;
	background: midnightblue;
}

.people {
	position: absolute;
	width: 200px;
	min-height: 400px;
	bottom: 3px;
	right: 310px;
}

.people-content {
	position: absolute;
	top:25px;
	left: 0;
	right: 0;
	bottom: 0;
}

.people-content p {
	padding-left: 10px;
	padding-right: 10px;
}

.chat {
	position: absolute;
	width: 300px;
	min-height: 400px;
	bottom: 3px;
	right: 3px;
}

.chat-content {
	position: absolute;
	top:25px;
	left: 0;
	right: 0;
	bottom: 25px;
}

.chat-msg {
	clear: both;
	float: left;
	position: relative;
	width: auto;
	max-width: 100%;
	border: solid 1px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	word-wrap: break-word;
	margin-bottom: 20px;
	padding: 8px 30px;
	box-sizing: border-box;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

.chat-msg-right {
	float: right
}

.chat-interaction {	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 25px;
	border-top: 1px lightgrey solid;
}

.chat-input {	
	position: absolute;
	left:0;
	top: 0;
	width: 75%;
	height: 100%;
}

.chat-input input {
	width: 100%;
	height: 100%;
	border: none;
}

.chat-send {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25%;
	height: 100%;
}

.chat-send input {
	width: 100%;
	height: 100%;
}