.logging {
	width: 125px;
	height: 35px;
	right: 3px;
	top: 3px;
	position: absolute;
	border-width: 1px lightgrey solid;
	border-radius: 5px;
	background: midnightblue;
	color: white;
	text-align: center;
}

.people {
	width: 200px;
	min-height: 400px;
	bottom: 3px;
	right: 310px;
	position: absolute;
	border: 1px lightgrey solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.people-bar {
	padding: 5px;
	position: absolute;
	height: 15px;
	top: 0;
	left: 0;
	right: 0;
	background: midnightblue;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	vertical-align: middle;
	font-size: larger;
}

.people-content {
	position: absolute;
	top:25px;
	left: 0;
	right: 0;
	bottom: 0;
	background: aliceblue;
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.people-content p {
	padding-left: 10px;
	padding-right: 10px;
}

.chat {
	width: 300px;
	min-height: 400px;
	bottom: 3px;
	right: 3px;
	position: absolute;
	border: 1px lightgrey solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.chat-bar {
	padding: 5px;
	position: absolute;
	height: 15px;
	top: 0;
	left: 0;
	right: 0;
	background: midnightblue;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.chat-content {
	position: absolute;
	top:25px;
	left: 0;
	right: 0;
	bottom: 25px;
	background: aliceblue;
}

.chat-popup {
	/*display: none;*/
	float: none;
	position: relative;
	bottom: 25px;
	background-color: rgb(237, 239, 244);
	width: 300px;
	border: 1px solid rgba(29, 49, 91, .3);
}

.chat-popup-head{
	background-color: #6d84b4;
	padding: 5px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	clear: both;
}

.popup-head-left{
	float: left;
}

.popup-head-right {
	float: right;
	opacity: 0.5;
}

.chat-interaction {	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 25px;
	background: red;
	border-top: 1px lightgrey solid;
}

.chat-input {	
	position: absolute;
	left:0;
	top: 0;
	width: 75%;
	height: 100%;
}

.chat-input input {
	width: 100%;
	height: 100%;
	border: none;
}

.chat-send {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25%;
	height: 100%;
}

.chat-send input {
	width: 100%;
	height: 100%;
}