/* Common box */
.bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: midnightblue;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;	
	padding-left: 1em;
    line-height: 2em;
    height: 2em
}

.bar-header {
	color: white;
	font-size: larger;
}

.box {
	border: 0.1em lightgrey solid;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background: aliceblue;
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box1 {
	bottom: 1em;
	right: 1em;    
}

.box2 {
	bottom: 1em;
	right: 24em;
}

.box3 {
	bottom: 1em;
	right: 47em;
    
}

/* Common box ended */

.center {
	text-align: center;
}

.hidden {
    display: none;
}

.logging {
	position: absolute;
	width: 10em;
	height: 3em;
	right: 1em;
	top: 1em;
	border-radius: 0.4em;
	background: midnightblue;
    color: white;
    text-align: center;
    line-height: 3em;
}

.people {
	position: absolute;
	width: 17em;
	min-height: 30em;
	bottom: 1em;
    top: 1em;
	left: 1em;
    height: auto;
}

.people-content {
	position: absolute;
	top: 2em;
	left: 0;
	right: 0;
	bottom: 0;
}

.people-content p {
	padding-left: 1em;
	padding-right: 1em;
    display: block;
}

span.msg-number {
    float: right;
    border: 1px solid grey;
    /* padding: 5px; */
    border-radius: 15px;
    width: 20;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    /*color: red;*/
    line-height: 18px;
}

.people-content p:hover {
	font-weight: bold;
}


.people-content .me {
    color: red;
}

.chat {
	position: absolute;
	width: 22em;
	min-height: 30em;
}

.chat-content {
	position: absolute;
	top: 2em;
	left: 0;
	right: 0;
	bottom: 2em;
	border-bottom: .1em lightgrey solid;
    padding: 0 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 0;
}

.chat-msg {
	clear: both;
	float: left;
	position: relative;
	width: auto;
	border: solid 0.1 em rgba(0, 0, 0, 0.5);
	border-radius: 1em;
	word-wrap: break-word;
	margin-bottom: .7em;
	padding: .5em 1em;
	box-sizing: border-box;
	text-shadow: 0 .1em .1em rgba(255, 255, 255, 0.7);
    background-color: gainsboro;
    list-style-type: none;
    margin-left: 0;
    margin-right: 2em;
}

.chat-msg-right {
	float: right;
    background-color: lightblue;
    text-align: right;
    margin-left: 2em;
    margin-right: 0;
}

.chat-interaction {	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 2em;
}

.chat-input {	
	position: absolute;
	left:0;
	top: 0;
	width: 75%;
	height: 100%;
    background: white;
}

.chat-input input {
    width: 100%;
    height: 100%;
	border: none;
    box-sizing: border-box; /*when you miss single pixel */
    padding-left: 1em;
}

.chat-send {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25%;
	height: 100%;
}

.chat-send input {
	width: 100%;
	height: 100%;
}